In [9]:
import pandas as pd 
  
# Creating the dataframe  
df = pd.DataFrame({"A":[715, 730, 745, 800, 815], 
                   "B":[5, 2, 54, 3, 2], 
                   "C":[20, 16, 7, 3, 8],  
                   "D":[14, 3, 17, 2, 6]}) 

df

     A   B   C   D
0  715   5  20  14
1  730   2  16   3
2  745  54   7  17
3  800   3   3   2
4  815   2   8   6

In [37]:
df2 = df.groupby(['A']).apply(lambda x: x.values.tolist()[0][1:]).reset_index()

df2.columns = ['A','AllReadings']

df2.