In [2]:
import pandas as pd

State = ['CA', 'CA', 'CA', 'CA', 'SR', 'SR', 'SR', 'SR']
County = ['UC', 'UC', 'DB', 'DB', 'DD', 'DD', 'DD', 'DD']
Count  = [100, 100, 150, 150, 200, 200, 200, 200]
df = pd.DataFrame({'State': State, 'County': County, 'Count' : Count})

df

  State County  Count
0    CA     UC    100
1    CA     UC    100
2    CA     DB    150
3    CA     DB    150
4    SR     DD    200
5    SR     DD    200
6    SR     DD    200
7    SR     DD    200

In [5]:
df.drop_duplicates(['State','County']).groupby(['State']).sum()

       Count
State
CA       250
SR       200

In [11]:
df.groupby(['State']).apply(lambda x: x.groupby(['County']).Count.first().sum()).reset_index()

  State    0
0    CA  250
1    SR  200